
    <table style='border: 1px solid'>
        <thead>
            <tr>
                <th style='text-align: left'>Id</th>
                <th style='text-align: left'>Dni</th>
                <th style='text-align: left'>Last Name</th>
                <th style='text-align: left'>First Name</th>
                <th style='text-align: left'>Email</th>
                <th colspan='2'></th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td><input id='dni' /></td>
                <td><input id='lastName' /></td>
                <td><input id='firstName' /></td>
                <td><input id='email' /></td>
                <td colspan='2' style='text-align: center'><button id='addStudentBtn'>Add</button></td>
            </tr>
        </tfoot>
    </table>
    
    


   


